<div class="flex justify-center ">
    <div class="inline-block bg-white dark:bg-slate-600 rounded-lg px-4 pt-5 pb-4 text-left overflow-hidden shadow-xl transform sm:my-8 sm:max-w-lg sm:w-full sm:p-6">
        <div>
            <div class="mt-3 text-center sm:mt-5">
                <h3 class="text-lg leading-6 font-medium text-gray-900 dark:text-black" id="modal-title">Participer à l'expérimentation</h3>
                <div class="mt-2">
                    <p class="text-sm text-gray-500 dark:text-gray-300">Faites le choix de participer en vous inscrivant ou si vous avez déjà un compte alors c'est parti.</p>
                </div>
            </div>
        </div>
        <div class="mt-5 sm:mt-6 sm:grid {{ app.user ? 'sm:grid-cols-1' : 'sm:grid-cols-2' }}  sm:gap-3 sm:grid-flow-row-dense">
            {% if app.user %}
                <a href="{{ path('app_logout') }}" class="btn-red">Déconnexion</a>
            {% else %}
                <a href="{{ path('app_register') }}" class="btn-green">Inscription</a>
                <a href="{{ path('app_login') }}" class="btn-blue">Connexion</a>
            {% endif %}
        </div>
    </div>
</div>
