.titre{
    font-size: 28px;
    font-weight: bold;
    color: #6f42c1;
}
.logo{
    display: block;
    width: 10%;
    margin: 0 auto;
}

.limit{
    font-weight: bold;
}
.container{
    width: 75%;
    margin: 0 auto;
}